<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <style>
        body{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        form{
            background-color: rgb(37, 37, 78);
            border-radius: 20px;
            padding: 2%;
            margin-top: 10%;
            display: flex;
            /* align-items: center; */
            justify-content: center;
            flex-direction: column;
        }
        input{
            margin-top: 5%;
        }
    </style>
</head>
<body>
    <form action="/users/create" enctype="multipart/form-data" method="post">
        <input type="text" name="name" placeholder="Name">
        <input type="number" name="age" placeholder="Age">
        <input type="number"name="rollno" placeholder="Rollno">
        <input type="email" name="email" placeholder="Email">
        <input type="number"name="score" placeholder="Score">
        <input type="file" name="avatar" placeholder="Profile-Picture">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
